html, body {
    box-sizing: border-box;
    color: white;
    font-size: 1.25em;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    padding: 0.5%;
}

body, #input {
    background: #222222;
    font-family: monospace;
}

#input-section {
    display: flex;
}

#input, .input-wrapper {
    color: #459cff;
}

#input {
    caret-color: white;
    flex: 2;
    border: none;
}

#input:focus {
    outline: none;
}

#output-wrapper div {
    display: inline-block;
    width: 100%;
}
  
.header-output {
    color: #9d9d9d;
}
